html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif
}

.header-container {
  display: none;
  margin-left: 10px;
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: transparent;
  transition: background-color 1s ease;
  opacity: 0.6;
}

.scroll-buttons {
  display: inline-block;
  float: right;
  margin-right: 20px;
  font-weight: 700;
  font-size: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  transition: all 0.5s ease;
}

.hero-image {
  margin: auto;
  padding: 10px;
  height: 100vh;
  width: 100%;
  background-image: url("https://unsplash.it/1250/800?image=190");
  background-attachment: fixed;
  background-repeat: none;
  background-size: cover;
}

.hero-text {
  width: 500px;
  margin: 10px;
  padding: 10px;
  font-weight: 700;
  font-size: 40px;
  color: white;
  opacity: .6;
}

.content {
  margin: auto;
  text-align: center
}

.section-title {
  font-size: 30px;
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
  margin: auto;
  margin-top: 70px;
}

.about{
  /*height:60vh;*/
  background-color: #eee;
  margin: -70px auto;
  width: 105%;
  margin-left: -8px;
}

.brian-pic {
  height: 300px;
  width: 200px;
  border-radius: 10px;
  margin: 2em 0em 2em 5em;
  box-shadow: 3px 3px 3px #888888;
}

.about-text {
  float: right;
  width: 50%;
  margin: 3em 5em 0em 3em;
  font-size: 25px;
}

.skill-icon {
  font-size: 100px;
  margin: 15px;
  padding: 15px;
  display: inline-block;
}

.projects {
  background-color: #eee;
}

.project-title {
  font-size: 25px;
  color: #0099cc;
  font-weight: bold;
}

.projects-container {
  width: 80%;
  margin: 70px auto;
  text-align: center;
}

.project {
  vertical-align: top;
  width: 450px;
  display: inline-block;
  margin: 20px;
}

.project-image {
  height: 250px;
  width: 350px;
  box-shadow: 3px 3px 3px #888888;
  border-radius: 5px;
}


.links a {
  font-size: 20px;
  text-decoration: none;
  color: #0099cc;
}

.github {
  padding-right: 10px;
}

.live {
  padding-left: 5px;
}