html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.section-title {
  font-size: 30px;
  width: 180px;
  text-align: center;
  padding-bottom: 5px;
  margin: auto;
  margin-top: 70px;
}

.brian-pic {
  height: 300px;
  width: 200px;
  border-radius: 10px;
  margin: 2em 0em 2em 5em;
  box-shadow: 3px 3px 3px #888888;
}

.skill-icon {
  font-size: 100px;
  margin: 15px;
  padding: 15px;
  display: inline-block;
}

.skills-icon-container {
  width: 65%;
  margin: auto;
  text-align:  center
}

.header {
  margin-left: -8px;
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: transparent;
  transition: background-color 1s ease;
  opacity: 0.6;
}
