h1 {
	padding: 10px;
	border: 10px solid black;
}

p {
	margin: 10px;
}

table {
	margin: auto;
}

ol {
	background-image: url(nautica.jpg);
	background-repeat: no-repeat;
	height: 150px;
}

h3 {
	font-family: Arial;
}

.section {
	color: red
}

a:visited {
	color:pink;
}

#subtitle {
	color:red;
}

@media screen and (max-width: 1000px) {
	img {
		width: 500px
	}
}